{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>Сброс пароля</h1>

    {% if validlink %}

        <!-- Page description -->
        <p>Для окончательного сброса пароля, заполните все поля внизу.</p>
        <hr>

        <!-- Reset form -->
        <form action="" method="post">

            <!-- CSRF Protection -->
            {% csrf_token %}

            <!-- Form group block -->
            <div class="form-group">

                <!-- Password 1 errors list -->
                {{ form.new_password1.errors }}

                <!-- New password 1 field -->
                <input name="new_password1" required class="form-control input-lg" type="password"
                       placeholder="Введите новый пароль:" autocomplete="off">
            </div>

            <!-- Form group block -->
            <div class="form-group">

                <!-- Password 2 errors list -->
                {{ form.new_password2.errors }}

                <!-- New password 2 field -->
                <input name="new_password2" required class="form-control input-lg" type="password"
                       placeholder="Введите новый пароль (повторно):" autocomplete="off">
            </div>

            <!-- Reset password button -->
            <button class="btn btn-warning pull-right" type="submit">Сбросить</button>
        </form>

    {% else %}

        <!-- Link error text -->
        <p>Ссылка повреждена, попробуйте попытку позднее. Если хотите открыть форму входа, то нажмите на кнопку
            ниже.</p>
        <hr>

        <!-- Open login button -->
        <a class="btn btn-warning pull-right" href="{% url 'login' %}">Перейти</a>

    {% endif %}

{% endblock %}