{% extends 'base.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>Сброс пароля</h1>

    <!-- Page description -->
    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый
        пароль.</p>
    <!-- Error text -->
    {% if form.errors %} <p style="color: red;">Что-то пошло не так, повторите попытку.</p> {% endif %}
    <hr>

    <!-- Reset form -->
    <form action="" method="post">

        <!-- CSRF Protection -->
        {% csrf_token %}

        <!-- Form group block -->
        <div class="form-group">

            <!-- Email field -->
            <input type="email" name="email" required class="form-control input-lg" placeholder="Email:"
                   autocomplete="off">
        </div>

        <!-- Reset password button -->
        <button type="submit" class="btn btn-warning pull-right">Сбросить</button>
    </form>

{% endblock %}