{% extends 'base.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>Изменить пароль</h1>

    <!-- Page description -->
    <p>В целях безопасности, пожалуйста, введите свой старый пароль, затем введите новый пароль дважды, чтобы мы могли
        убедиться в правильности написания.</p>
    <hr>

    <form action="" method="post">

        <!-- CSRF Protection -->
        {% csrf_token %}

        <!-- Form group block -->
        <div class="form-group">

            <!-- Old password errors list -->
            {{ form.old_password.errors }}

            <!-- Old password field -->
            <input name="old_password" class="form-control input-lg" required type="password"
                   placeholder="Старый пароль:" autocomplete="off">
        </div>

        <!-- Form group block -->
        <div class="form-group">

            <!-- New password 1 errors list -->
            {{ form.new_password1.errors }}

            <!-- New password 1 field -->
            <input name="new_password1" class="form-control input-lg" required type="password"
                   placeholder="Новый пароль:" autocomplete="off">
        </div>

        <!-- Form group block -->
        <div class="form-group">

            <!-- New password 2 errors list -->
            {{ form.new_password2.errors }}

            <!-- New password 2 field -->
            <input name="new_password2" class="form-control input-lg" required type="password"
                   placeholder="Новый пароль (повторно):" autocomplete="off">
        </div>

        <!-- Change password button -->
        <button class="btn btn-warning pull-right" type="submit">Сменить</button>
    </form>

{% endblock %}