{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load tz %}

{% block title %}Регистрация{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>Регистрация</h1>

    <!-- Page description -->
    <p>Добро пожаловать на страницу регистрации. Вы в одном клике от становления нашим пользователем.</p>
    <hr>

    <!-- Registration form -->
    <form method="post" class="form-group">

        <!-- CSRF Protection -->
        {% csrf_token %}

        <!-- Registration fields -->
        {{ form|crispy }}

        <div class="form-group">

            <input required type="checkbox">
            Я принимаю условия <a href="{% url 'registration:user_police' %}">Пользовательского соглашения</a> и даю
            своё согласие порталу 'КиноДруг' на обработку моей персональной информации на условиях, определенных
            <a href="{% url 'registration:conf_police' %}">Политикой конфиденциальности</a>.
        </div>

        <!-- Register button -->
        <button class="btn btn-warning pull-right" type="submit">Зарегистрироваться</button>
    </form>

{% endblock %}