{% extends 'base.html' %}

{% block title %}Пользовательское соглашение{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>Пользовательское соглашение</h1>
    <hr>

    <!-- Paragraph -->
    <p>Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем test.test.com
        (далее 'КиноДруг' или Администрация) с одной стороны и пользователем сайта с другой.
        Сайт 'КиноДруг' не является средством массовой информации.</p>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Если Вы не согласны с условиями данного соглашения, не используйте сайт 'КиноДруг'!</strong>
    </p>

    <!-- Title -->
    <h3>Предмет соглашения</h3>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Администрация предоставляет пользователю право на размещение на сайте следующей информации:</strong>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>Текстовой информации;</li>

        <!-- List item -->
        <li>Видеоматериалов;</li>

        <!-- List item -->
        <li>Ссылок на материалы, размещенные на других сайтах.</li>
    </ol>
    </p>

    <!-- Title -->
    <h3>Права и обязанности сторон</h3>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Пользователь имеет право:</strong>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>Осуществлять поиск информации на сайте;</li>

        <!-- List item -->
        <li>Получать информацию на сайте;</li>

        <!-- List item -->
        <li>Комментировать контент, выложенный на сайте;</li>

        <!-- List item -->
        <li>Копировать информацию на другие сайты с указанием источника;</li>

        <!-- List item -->
        <li>Использовать информацию сайта в личных некоммерческих целях;</li>

        <!-- List item -->
        <li>Использовать информацию сайта в коммерческих целях с разрешения правообладателей.</li>
    </ol>
    </p>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Администрация имеет право:</strong>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>По своему усмотрению и необходимости создавать, изменять, отменять правила;</li>

        <!-- List item -->
        <li>Ограничивать доступ к любой информации на сайте;</li>

        <!-- List item -->
        <li>Создавать, изменять, удалять информацию;</li>

        <!-- List item -->
        <li>Удалять учетные записи.</li>
    </ol>
    </p>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Пользователь обязуется:</strong>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>Обеспечить достоверность предоставляемой информации;</li>

        <!-- List item -->
        <li>Обеспечивать сохранность личных данных от доступа третьих лиц;</li>

        <!-- List item -->
        <li>При копировании информации с других источников, включать в её состав информацию об авторе;</li>

        <!-- List item -->
        <li>Не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или
            религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная
            или административная ответственность;
        </li>

        <!-- List item -->
        <li>Не нарушать работоспособность сайта;</li>

        <!-- List item -->
        <li>Не совершать действия, направленные на введение других Пользователей в заблуждение;</li>

        <!-- List item -->
        <li>Не регистрировать учетную запись от имени или вместо другого лица за исключением случаев, предусмотренных
            законодательством РФ;
        </li>

        <!-- List item -->
        <li>не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также
            иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ;
        </li>

        <!-- List item -->
        <li>Не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и
            его Сервисами.
        </li>
    </ol>
    </p>

    <!-- Paragraph -->
    <p>

        <!-- Strong text -->
        <strong>Администрация обязуется:</strong>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>Поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от
            Администрации причинам;
        </li>

        <!-- List item -->
        <li>Защищать информацию, распространение которой ограничено или запрещено законами путем вынесения
            предупреждения либо удалением учетной записи пользователя, нарушившего правила;
        </li>

        <!-- List item -->
        <li>Предоставить всю доступную информацию о Пользователе уполномоченным на то органам государственной власти в
            случаях, установленных законом.
        </li>
    </ol>
    </p>

    <!-- Title -->
    <h3>Ответственность сторон</h3>

    <!-- Paragraph -->
    <p>

        <!-- List -->
    <ol>

        <!-- List item -->
        <li>Пользователь лично несет полную ответственность за распространяемую им информацию;</li>

        <!-- List item -->
        <li>Администрация не несет никакой ответственности за достоверность информации, скопированной из других
            источников;
        </li>

        <!-- List item -->
        <li>Администрация не несёт ответственность за несовпадение ожидаемых Пользователем и реально полученных услуг;
        </li>

        <!-- List item -->
        <li>Администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами;</li>

        <!-- List item -->
        <li>В случае возникновения форс-мажорной ситуации (боевые действия, чрезвычайное положение, стихийное бедствие и
            т. д.) Администрация не гарантирует сохранность информации, размещённой Пользователем, а также бесперебойную
            работу информационного ресурса.
        </li>
    </ol>
    </p>

    <!-- Title -->
    <h3>Условия действия Соглашения</h3>

    <!-- Paragraph -->
    <p>

        Данное Соглашение вступает в силу при регистрации на сайте.
    </p>

    <!-- Paragraph -->
    <p>

        Соглашение перестает действовать при появлении его новой версии.
    </p>

    <!-- Paragraph -->
    <p>

        Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.
    </p>

    <!-- Paragraph -->
    <p>

        При изменении соглашения, в некоторых случаях, администрация может оповестить пользователей удобным для нее
        способом.
    </p>

{% endblock %}