{% extends 'base.html' %}

{% block title %}{{ m.movie_title }}{% endblock %}

{% block menu %}

    <li><a href="{% url 'index' %}">Главная</a></li>
    <li class="active"><a href="{% url 'movies:index' %}">Фильмы</a></li>
    <li><a href="{% url 'serials:index' %}">Сериалы</a></li>
    <li><a href="{% url 'rating' %}">Рейтинг фильмов</a></li>
    <li><a href="{% url 'contacts:index' %}">Контакты</a></li>

{% endblock %}

{% block content %}

    <!-- Page title -->
    <h1>{{ m.movie_title }}</h1>
    <hr>

    <!-- Player block -->
    <div class="embed-responsive embed-responsive-16by9">

        <!-- Player iframe -->
        <iframe src="https://www.youtube.com/embed/{{ m.movie_url_video }}" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- Description well block -->
    <div class="well info-block player-info-block text-center">

        <!-- Year -->
        Год: <span class="badge">{{ m.movie_year }}</span>
        <!-- Rating -->
        Рейтинг: <span class="badge">{{ m.movie_rating }}</span>
        <!-- Director -->
        Режиссер: <span class="badge">{{ m.movie_director }}</span>
    </div>

    <!-- Diviner -->
    <div class="margin-8"></div>

    <!-- Description title -->
    <h2>Описание "{{ m.movie_title }}":</h2>
    <hr>

    <!-- Well block -->
    <div class="well info-block">

        <!-- Description text -->
        {{ m.movie_desc }}
    </div>

    <!-- Diviner -->
    <div class="margin-8"></div>

    <!-- Review title -->
    <h2>Отзывы об "{{ m.movie_title }}"</h2>
    <hr>

    {% if user.is_authenticated %}

        <!-- Well block -->
        <div class="well">

            <!-- Block title -->
            <h4>Форма добавления комментария:</h4>
            <hr>

            <!-- Add comment block -->
            <form action method="post">

                <!-- CSRF Protection -->
                {% csrf_token %}

                <!-- Form group block -->
                <div class="form-group">

                    <!-- Reviewer name field label -->
                    <label>Имя:</label>

                    <!-- Reviewer name field -->
                    <input name="reviewer" class="form-control" type="text" value="{{ user.first_name }}" readonly
                           autocomplete="off">

                    <!-- Username field -->
                    <input type="hidden" name="username_author" value="{{ user.username }}">
                </div>

                <!-- Form group block -->
                <div class="form-group">

                    <!-- Review text field label -->
                    <label>Текст комментария:</label>

                    <!-- Review text field -->
                    <textarea name="review" class="form-control" maxlength="80" required autocomplete="off"></textarea>
                </div>

                <!-- Add comment button -->
                <button class="btn btn-warning" type="submit">Добавить</button>
            </form>
        </div>

    {% else %}

        <div class="well">

            Для размещения комментариев, необходимо <a href="{% url 'login' %}">авторизироваться</a>.
        </div>

    {% endif %}

    {% if last_comments %}

        {% for comment in last_comments %}

            <!-- Review block -->
            <div class="panel panel-info">

                <!-- Reviewer name block -->
                <div class="panel-heading">

                    <!-- Reviewer name -->
                    <i class="glyphicon glyphicon-user"></i> <span><a href="{% url 'profile' comment.username_author %}" style="color: #ffffff !important;">{{ comment.name_author }}</a></span>
                </div>

                <!-- Reviewer text block -->
                <div class="panel-body">

                    <!-- Reviewer text -->
                    {{ comment.comment_text }}
                </div>
            </div>

        {% endfor %}

    {% else %}

        <div class="well">

            Комментарии отсутствуют, вы можете стать первым.
        </div>

    {% endif %}

{% endblock %}