{% extends 'base.html' %}

{% block title %}Фильмы{% endblock %}

{% block menu %}

    <li><a href="{% url 'index' %}">Главная</a></li>
    <li class="active"><a href="{% url 'movies:index' %}">Фильмы</a></li>
    <li><a href="{% url 'serials:index' %}">Сериалы</a></li>
    <li><a href="{% url 'rating' %}">Рейтинг фильмов</a></li>
    <li><a href="{% url 'contacts:index' %}">Контакты</a></li>

{% endblock %}

{% block content %}

    {% if movie_list %}

        <!-- Page title -->
        <h1>Фильмы</h1>
        <hr>

        {% for m in movie_list %}

            <!-- Row block -->
            <div class="row">

                <!-- Movie well block -->
                <div class="well clearfix">

                    <!-- Poster column block -->
                    <div class="col-lg-3 col-md-2 text-center">

                        <!-- Movie poster -->
                        <img class="img-thumbnail" src="{{ m.movie_url_poster }}" alt="{{ m.movie_title }} Poster">

                        <!-- Movie title -->
                        <p class="film_label">{{ m.movie_title }}</p>
                    </div>

                    <!-- Description column block -->
                    <div class="col-lg-9 col-md-10">

                        <!-- Movie description -->
                        <p style="font-size: 18px">{{ m.movie_desc }}</p>
                    </div>

                    <!-- Link column block -->
                    <div class="col-lg-12">

                        <!-- Link to content -->
                        <a class="btn btn-lg btn-warning pull-right" href="{% url 'movies:detail' m.id %}">Подробнее</a>
                    </div>
                </div>
            </div>

        {% endfor %}

    {% else %}

        <!-- Empty message -->
        <h3>Фильмы не найдены...</h3>

    {% endif %}

    <!-- Deviner block -->
    <hr>

{% endblock %}