{% extends 'base.html' %}

{% block title %}Профиль - {{ usr.username }}{% endblock %}

{% block content %}

    {% if usr.username == user.username %}

        <!-- Page title -->
        <h1>{{ usr.username }} (Это вы)</h1>
        <hr>

    {% else %}

        <!-- Page title -->
        <h1>{{ usr.username }}</h1>
        <hr>

    {% endif %}

    <!-- Title -->
    <h4>Имя: {% if usr.first_name %}{{ usr.first_name }}{% else %}Отсутствует{% endif %}</h4>
    <hr>

    <!-- Title -->
    <h4>Фамилия: {% if usr.last_name %}{{ usr.last_name }}{% else %}Отсутствует{% endif %}</h4>
    <hr>

    {% if user.is_staff %}

        <!-- Title -->
        <h4>Email: {{ usr.email }}</h4>

    {% else %}

        <!-- Title -->
        <h4>Email: *Скрыто*</h4>

    {% endif %}

    <hr>

    {% if usr.is_staff %}

        <!-- Title -->
        <h4>Является администратором 🔧</h4>

    {% else %}

        <!-- Title -->
        <h4>Не является администратором</h4>

    {% endif %}

    <hr>

    <!-- Title -->
    <p>Зарегистрировался: {{ usr.date_joined }}</p>

{% endblock %}